/* Load Cal Sans font */
@font-face {
  font-family: "Cal Sans";
  src: url("../assets/fonts/CalSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/CalSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.details-container {
  font-family: "Cal Sans", sans-serif; /* Corrected from Carl-Sans */
  color: white;
  background-color: #ff4400;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.details-container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.location-input {
  margin: 1rem 0;
}

.location-input input {
  padding: 0.75rem 0.75rem 0.75rem 2.5rem; /* Adjusted for icon */
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  max-width: 100%;
  font-family: "Cal Sans", sans-serif;
  background-image: url("/location-sign-svgrepo-com.svg"); /* Added for icon */
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  background-size: 24px 24px;
}

.location-input input::placeholder {
  color: #999;
}

.source-details {
  margin: 1rem 0;
}

.source-details label {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: auto;
}

.source-details label input {
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  font-family: "Cal Sans", sans-serif;
}

.source-details input::placeholder {
  color: #999;
}
